button {
    background-color: #EB5E28;
    color: #FFFCF2;
    padding: 14px 20px;
    margin: 16px;
    border: none;
    cursor: pointer;
    font-size: large;
    border-radius: 10px;
    box-shadow: 0 0 20px #EB5E28
}

button:hover {
    opacity: 0.8;
}